@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
}

body {
  background-color: #f5f6fa;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
